	<div class="grid-container">
		<div class="grid-item-main edit-page">
			<div class="sub-nav">
				<%= link_to "クリップボード", check_list_user_path(current_user) %>
				<%= link_to "参加予定", join_list_user_path(current_user) %>
				<%= link_to "自分の予定", user_path(current_user) %>
			</div>
			<div class="edit-fillter-wapper">
				<div class="editing">
					<i class="fas fa-cog fa-2x faa-spin animated"></i>
					<p>登録情報変更中...</p>
				</div>
			</div>
				<div class="everyone">
					<p><%= @user.nickname %>さんの予定</p>
				</div>
				<div class="events-wrapper">
					<%= render partial: "users/event", collection: @events %>
				</div>
		</div>
		<div class="grid-item-user">
			<%= image_tag(@user.thumbnail_id.gsub(/_normal/, ""), class: "showpage-thumbnail")  %>
			<div class="user-infomation">
				<%= form_for @user do |f| %>
					<%= f.text_field :nickname %>
					<div class="user-introduction"><%= f.text_area :description %></div>
					<table class="user-area-info">
						<tr>
							<td class="home-area">ホームエリア</td>
						</tr>
						<tr>
							<td><%= f.collection_select(:area_id, Area.where.not(code: 99), :id, :name) %></td>
						</tr>
					</table>
					<%= f.submit "更新", class: "button decision box-shadow"%>
				<% end %>
			</div>
		</div>
	</div>


